apiVersion: v1
kind: Service
metadata:
  name: openldap-svc
spec:
  ports:
  - port: 1389
    targetPort: {ldap_port}
    protocol: TCP

---

# Because this service has no selector, the corresponding Endpoints
# object will not be created. You can manually map the service to
# your own specific endpoints:
kind: Endpoints
apiVersion: v1
metadata:
  name: openldap-svc
subsets:
  - addresses:
      - ip: "{ldap_ip}"
    ports:
      - port: {ldap_port}

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: gluuoxauth
    env: dev
  name: gluuoxauth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluuoxauth
      env: dev
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gluuoxauth
        env: dev
    spec:
      containers:
      - env:
        - name: GLUU_KV_HOST
          value: gluuconsul
        - name: GLUU_KV_PORT
          value: "8500"
        - name: GLUU_LDAP_URL
          value: openldap-svc:1389
        image: gluufederation/oxauth:3.1.1_dev
        imagePullPolicy: IfNotPresent
        name: gluuoxauth
        ports:
        - containerPort: 8080
          protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: gluuoxauth
    env: dev
  name: gluuoxauth
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: gluuoxauth
    env: dev
  type: ClusterIP

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: gluuoxtrust
    env: dev
  name: gluuoxtrust
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluuoxtrust
      env: dev
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gluuoxtrust
        env: dev
    spec:
      containers:
      - env:
        - name: GLUU_KV_HOST
          value: gluuconsul
        - name: GLUU_KV_PORT
          value: "8500"
        - name: GLUU_LDAP_URL
          value: openldap-svc:1389
        image: gluufederation/oxtrust:3.1.1_dev
        imagePullPolicy: IfNotPresent
        name: gluuoxtrust
        ports:
        - containerPort: 8080
          protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: gluuoxtrust
    env: dev
  name: gluuoxtrust
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: gluuoxtrust
    env: dev
  type: ClusterIP

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: gluukeyrotation
    env: dev
  name: gluukeyrotation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluukeyrotation
      env: dev
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: gluukeyrotation
        env: dev
    spec:
      containers:
      - env:
        - name: GLUU_KV_HOST
          value: gluuconsul
        - name: GLUU_KV_PORT
          value: "8500"
        - name: GLUU_LDAP_URL
          value: openldap-svc:1389
        - name: GLUU_KEY_ROTATION_INTERVAL
          value: "2"
        image: gluufederation/key-rotation:3.1.1_dev
        imagePullPolicy: IfNotPresent
        name: gluukeyrotation

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: {k8s-gluu-hostname}
    env: dev
  name: {k8s-gluu-hostname}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {k8s-gluu-hostname}
      env: dev
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {k8s-gluu-hostname}
        env: dev
    spec:
      containers:
      - env:
        - name: GLUU_KV_HOST
          value: gluuconsul
        - name: GLUU_KV_PORT
          value: "8500"
        - name: GLUU_OXAUTH_BACKEND
          value: gluuoxauth:8080
        - name: GLUU_OXTRUST_BACKEND
          value: gluuoxtrust:8080
        image: gluufederation/nginx:3.1.1_dev
        imagePullPolicy: IfNotPresent
        name: {k8s-gluu-hostname}
        ports:
        - containerPort: 443
          protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {k8s-gluu-hostname}
    env: dev
  name: {k8s-gluu-hostname}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
  selector:
    app: {k8s-gluu-hostname}
    env: dev
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {k8s-gluu-hostname}
    env: dev
  name: {k8s-gluu-hostname}-np
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
  selector:
    app: {k8s-gluu-hostname}
    env: dev
  type: NodePort
